@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&display=swap');

:root {
    --primary-color: #214f4b;
    --secondary-color: aqua;
    --accent1-color: #DECCCC;
    --accent2-color: #b89e97;

    --nav-background-color: #5c5c5c;
    --nav-link-color: white;
    --nav-hover-link-color: #1098f7;
    --nav-hover-background-color: #000000;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--nav-background-color);
}

header {
    padding: 10px;
    background-color: var(--nav-background-color) ;
    margin: 1rem auto;
    display: grid;
    grid-template-columns: 500px 4fr 1fr;
    border-bottom: 1px solid black;
    align-items: center;
    
}

img {
    width: 150px;
}

nav {
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 2rem;
}

nav a {
    display: block;
    color: var(--text-color) ;
    text-decoration: none;      
}
nav a:link, nav a:visited {
    color: var(--nav-link-color) ;
}

nav a:hover {
    color: var(--nav-hover-link-color) ;
    background-color: var(--nav-hover-background-color) ;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 8px;
    left: 0;
    padding: 15px 541px 15px;
    color: black;
    background-color: var(--accent2-color) ;
    opacity: 0.8;
}

article {
    position: absolute;
    top: 200px;
    left: 50px;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    background-color: var(--primary-color) ;
    opacity: 0.8;
    border: 10px;
    color: var(--secondary-color) ;

}

article img {
    float: right;
    max-width: 300px;
    height: auto;
}

.history h2 {
    text-align: center;
}

h2 {
    font-size: 2rem;
}

.history-style {
    text-align: center;
    font-size: 1rem;
    color: var(--secondary-color)
}

.history-style img {
    text-align: center;
}

.adventure h2 {
    text-align: center;
}

#image-container {
    display: flex;
    gap: 10px;
    padding: 20px;
}

figure {
    border: thin black solid;
    justify-content: space-around;
    padding: 2px;
    max-width: 220px;
    margin: auto;

}

figure img {
    max-width: fit-content;
    max-height: 150px;
}

figcaption {
    background-color: var(--accent1-color);
    color: black;
    padding: 3px; 
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

.sociallinks {
    margin-top: 1px;
    display: inline-flex;
}

.sociallinks a {
    text-decoration: none;
}
.sociallinks img {
    max-width: 30px;
    height: auto;
    margin: 0;
    margin-left: 15px;
}

