* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav {
    background-color: #00bbbb;
    padding: 10px;
}

nav a {
    color: black;
    display: block;
    padding: 20px;
}

h1 {
    color: #ff00ff;
    padding: .5rem;
}

p {
    padding: 0;
}

main {
    max-width: 840px;
}

main img {
    padding: 2px;
    width: 150px;
    height: auto;
    border: 1px solid black;
    box-shadow: 0 0 15px fuchsia;
    float: right;
}

aside {
    width: 20rem;
    margin: auto;
    border: 1px solid lightseagreen;
    padding: 1rem;
    background-color: beige;
    color: black;
    text-align: center;
    width: 25em;
    position: relative;
}

aside h2{
    position: absolute;
    top: 30px;
    left: 150px;
    
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #99FF99;
    color: black;
}