* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:  #f7f9f9;
}

nav {
    background-color: #63d2ff;
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav a {
    padding: 0.5rem;
    text-decoration: none;
    font-size: 1.5rem;
    font-weight: 700;
    color: black;
}

h1 {
    color: #00bbbb;
    padding: .5rem;
    border-bottom: 1px solid #000;
}

p {
    padding: 0;
}

main {
    margin: 1rem;
    grid-column: 2/3;
}

main img {
    padding: 3px;
    width: 150px;
    box-shadow: 0 0 15px rgb(161, 128, 161);
    float: right;
    border: 1px solid black;
    height: auto;
}

aside {
    width: 20rem;
    margin: auto;
    border: 1px solid lightseagreen;
    padding: 1rem;
    background-color: beige;
    color: black;
    text-align: center;
    width: 25em;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

aside h2{
    position: absolute;
    top: 30px;
    left: 150px;
    
}

aside img {
    width: 200px;
    height: auto;
}

p {
    padding: 0;
}

footer {
    margin-top: 15px;
    border-top: 1px solid #000;
    text-align: center;
}
header, .grid, footer {
    max-width: 840px;
    margin: 0 auto;
}
.grid {
    display: grid;
    align-items: center;
}



/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgba(0,0,0,.1);
    padding: 1rem;
    background-color: #f2f9ff;
    color: black;
}